@font-face {
  font-family: "curs";
  src: url("fuentes/Honey Florist - Personal Use.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "cont";
  src: url("fuentes/BebasNeue-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "gral";
  src: url("fuentes/Louis George Cafe Bold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "icon";
  src: url("fuentes/Type Icons.ttf");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
}

nav {
  background-color: #f55151;
  height: 80px;
}

nav .imagen {
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

nav div img {
  height: 60px;
  width: 60px;
}

nav ul {
  float: right;
  margin-top: 1.2%;
  margin-bottom: 1%;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: darkorange;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.titulo {
  position: absolute;
  top: 50%;
  left: 65%;
  color: white;
  font-family: "curs";
  text-align: center;
}

.titulo h1 {
  font-size: 80px;
}

.carousel-inner img {
  width: 100%;
}

.imgind {
  width: 1920px;
  height: 857px;
}

.piepag {
  height: 157vh;
  position: absolute;
}

.pedido {
  background-image: url(fotos/1400.png);
  height: 149vh;
}

.card-columns .col .card {
  margin-top: 40px;
  width: 91%;
}

.card-columns .col .card img {
  width: 100%;
  height: auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .sucu {
  font-style: italic;
  color: white;
  font-size: 20px;
}

.selec {
  background-color: bisque;
  height: 30px;
  width: 150px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
}

.botonenv2 {
  width: 15%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5e870;
  outline: none;
  font-size: 16px;
  border: none;
  color: black;
  padding: 15px 0px;
  cursor: pointer;
}

.botonenv2:hover {
  background-color: orange;
}

.botonborra2 {
  width: 15%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5e870;
  outline: none;
  font-size: 16px;
  border: none;
  color: black;
  padding: 15px 0px;
  cursor: pointer;
}

.botonborra2:hover {
  background-color: orange;
}

.fondcont {
  background-image: url(fotos/fondo5.jpg);
}

.fondcont .contacto {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.fondcont .contacto form div .letra {
  font-size: 25px;
}

.form3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
  margin-top: 10%;
  color: white;
  font-size: 18px;
  font-family: "cont";
  display: block;
}

.form3 .edit_label {
  width: 40%;
  border: 2px solid brown;
  border-radius: 20px;
  padding: 10px;
}

.form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 18px;
  font-family: "cont";
  display: block;
  margin-left: 60%;
  margin-top: -24%;
}

.form2 .edit_label2 {
  border: 2px solid brown;
  border-radius: 20px;
  padding: 10px;
  width: 65%;
}

.titucont {
  position: absolute;
  color: white;
  font-family: "curs";
  text-align: center;
  top: 12%;
  left: 20%;
  font-size: 60px;
}

.fonen {
  background-color: #f8e7e2;
}

.titen {
  position: absolute;
  color: white;
  font-family: "curs";
  text-align: center;
  color: black;
  top: 12%;
  left: 10%;
  font-size: 45px;
}

span {
  font-family: "icon";
}

.gps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: -2%;
  margin-top: 5%;
}

.mg,
.pa,
.lz {
  width: 500px;
  height: 500px;
  margin-left: 57px;
}

.gps .art .titxt {
  width: 65%;
  text-align: center;
  margin-left: 20%;
}

.txts {
  font-family: "gral";
  font-size: 15px;
}

.tit {
  font-family: "curs";
  font-size: 30px;
}

.fonnos {
  background-image: url(fotos/fondo6.jpg);
}

.titn {
  font-family: "curs";
  font-size: 50px;
  position: relative;
  margin-top: 18%;
  float: left;
  color: white;
}

.mis {
  width: 30%;
  float: right;
  text-align: center;
  display: block;
  margin-top: 2%;
  color: white;
}

.mis h3 {
  font-family: "curs";
  font-size: 35px;
}

.mis p {
  font-family: "gral";
}

.vis {
  width: 30%;
  float: right;
  text-align: center;
  display: block;
  color: white;
  margin-top: 12%;
}

.vis h3 {
  font-family: "curs";
  font-size: 35px;
}

.vis p {
  font-family: "gral";
}

.val {
  width: 30%;
  float: right;
  text-align: center;
  display: block;
  color: white;
  margin-top: 4%;
  margin-left: 50%;
}

.val h3 {
  font-family: "curs";
  font-size: 35px;
}

.val p {
  font-family: "gral";
}

footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.copy {
  height: auto;
  width: 35px;
  float: left;
  display: inline-block;
  margin-top: 0px 0px 0px 0px;
}

.imgfoot {
  float: right;
  display: inline-block;
}

.fb {
  height: auto;
  width: 35px;
  padding: 0px 4px;
}

.ig {
  height: auto;
  width: 35px;
  padding: 0px 4px;
}

.wpp {
  height: auto;
  width: 35px;
  padding: 0px 4px;
}

.mail {
  height: auto;
  width: 35px;
  padding: 0px 4px;
}

@media only screen and (max-width: 1325px) {
  nav ul {
    float: right;
    margin-top: 1.5%;
    margin-bottom: 1%;
  }
  .titulo {
    position: absolute;
    top: 50%;
    left: 65%;
    color: white;
    font-family: "curs";
    text-align: center;
  }
  .imgind {
    width: 1325px;
    height: 770px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    margin-left: 60%;
    margin-top: -35%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 65%;
  }
  .titucont {
    position: absolute;
    color: white;
    font-family: "curs";
    text-align: center;
    top: 15%;
    left: 20%;
    font-size: 60px;
  }
  .encontra {
    position: relative;
  }
  .titen {
    position: absolute;
    color: white;
    font-family: "curs";
    text-align: center;
    color: black;
    top: 12%;
    left: 10%;
    font-size: 45px;
  }
  .gps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    outline: none;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2%;
    margin-top: 5%;
  }
  .mg,
  .pa,
  .lz {
    width: 500px;
    height: 500px;
    margin-left: 400px;
  }
  .gps .art .titxt {
    width: 65%;
    text-align: center;
    margin-left: 18%;
  }
  .titn {
    font-family: "curs";
    font-size: 40px;
    position: relative;
    margin-top: 5%;
    margin-left: 15px;
    float: left;
    color: white;
  }
  .mis {
    width: 30%;
    margin-right: 10%;
    text-align: center;
    display: block;
    margin-top: 10%;
    color: white;
  }
  .vis {
    width: 30%;
    float: right;
    text-align: center;
    display: block;
    color: white;
    margin-right: 60%;
    margin-top: -21.5%;
  }
  .val {
    width: 30%;
    float: right;
    text-align: center;
    display: block;
    color: white;
    margin-top: 0%;
    margin-right: 35%;
  }
}

@media only screen and (max-width: 1200px) {
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    margin-left: 60%;
    margin-top: -38.5%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 65%;
  }
  .mg,
  .pa,
  .lz {
    width: 500px;
    height: 500px;
    margin-left: 350px;
  }
  .mis {
    width: 30%;
    margin-right: 10%;
    text-align: center;
    display: block;
    margin-top: 8%;
    color: white;
  }
  .vis {
    width: 30%;
    text-align: center;
    display: block;
    color: white;
    margin-right: 60%;
    margin-top: -21.5%;
  }
  .val {
    width: 30%;
    text-align: center;
    display: block;
    color: white;
    margin-top: -5%;
    margin-right: 32%;
  }
  .piepag {
    height: 148vh;
    position: absolute;
  }
  .pedido {
    background-image: url(fotos/1400.png);
    height: 139vh;
  }
}

@media only screen and (max-width: 1050px) {
  nav ul {
    float: right;
    margin-top: 1.9%;
    margin-bottom: 1%;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    margin-left: 60%;
    margin-top: -44%;
  }
  .form3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10%;
    margin-top: 15%;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
  }
  .mis {
    width: 30%;
    margin-right: 10%;
    text-align: center;
    display: block;
    margin-top: 5%;
    color: white;
  }
  .vis {
    width: 30%;
    text-align: center;
    display: block;
    color: white;
    margin-right: 60%;
    margin-top: -28%;
  }
  .val {
    width: 30%;
    text-align: center;
    display: block;
    color: white;
    margin-top: -5%;
    margin-right: 32%;
  }
  .mg,
  .pa,
  .lz {
    width: 500px;
    height: 500px;
    margin-left: 280px;
  }
  .piepag {
    height: 144vh;
    position: absolute;
  }
  .pedido {
    background-image: url(fotos/1400.png);
    height: 135vh;
  }
}

@media only screen and (max-width: 1000px) {
  .titulo {
    position: absolute;
    top: 50%;
    left: 60%;
    color: white;
    font-family: "curs";
    text-align: center;
  }
  .titulo h1 {
    font-size: 65px;
  }
  .form3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10%;
    margin-top: 15%;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
  }
  .form3 .edit_label {
    width: 40%;
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    margin-left: 60%;
    margin-top: -46%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 75%;
  }
  .fonnos {
    height: 130vh;
    position: absolute;
  }
  .mis {
    width: 30%;
    margin-right: 10%;
    text-align: center;
    margin-top: 15%;
    color: white;
  }
  .vis {
    width: 30%;
    text-align: center;
    color: white;
    margin-right: 68%;
    margin-top: -35%;
  }
  .val {
    width: 30%;
    text-align: center;
    color: white;
    margin-top: -2%;
    margin-right: 32%;
  }
}

@media only screen and (max-width: 900px) {
  nav ul {
    float: right;
    margin-top: 2.2%;
    margin-bottom: 1%;
  }
  .form3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10%;
    margin-top: 19%;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
  }
  .form3 .edit_label {
    width: 40%;
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    margin-left: 60%;
    margin-top: -52%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 75%;
  }
  .mg,
  .pa,
  .lz {
    width: 500px;
    height: 500px;
    margin-left: 185px;
  }
  .piepag {
    height: 138vh;
    position: absolute;
  }
  .pedido {
    background-image: url(fotos/1400.png);
    height: 129vh;
  }
}

@media only screen and (max-width: 800px) {
  .titulo {
    position: absolute;
    top: 50%;
    left: 60%;
    color: white;
    font-family: "curs";
    text-align: center;
  }
  .titulo h1 {
    font-size: 50px;
  }
  .form3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10%;
    margin-top: 20%;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
  }
  .form3 .edit_label {
    width: 40%;
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    margin-left: 60%;
    margin-top: -58%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 75%;
  }
  .fonnos {
    height: 150vh;
    position: absolute;
  }
  .mg,
  .pa,
  .lz {
    width: 500px;
    height: 500px;
    margin-left: 130px;
  }
  .gps {
    margin-top: 10%;
  }
  .card-columns .col .card {
    margin-top: 40px;
    width: 100%;
  }
  .card-columns .col .card img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .checkbtn {
    display: block;
    margin-top: 0;
    height: 10px;
  }
  nav {
    height: 75px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 70px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 2;
  }
  nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 80px;
  }
  nav ul li a {
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 7px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0px;
  }
  .imgind {
    width: 767px;
    height: 761px;
  }
  .form3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 2%;
    top: 22%;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    position: absolute;
    top: 104px;
  }
  .form3 .edit_label {
    width: 100%;
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    top: 700px;
    position: absolute;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
  }
  .fondcont .contacto form div .letra {
    font-size: 24px;
  }
  .card-columns .col .card {
    margin-top: 40px;
    width: 100%;
  }
  .card-columns .col .card img {
    width: 100%;
    height: auto;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form .sucu {
    font-style: italic;
    color: white;
    font-size: 20px;
  }
  .fonnos {
    height: 150vh;
    position: absolute;
  }
  .mis {
    width: 60%;
    margin-right: 10%;
    text-align: center;
    margin-top: 5%;
    color: white;
    margin-right: 18%;
  }
  .vis {
    width: 60%;
    text-align: center;
    color: white;
    margin-right: 18%;
    margin-top: 5%;
  }
  .val {
    width: 60%;
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-right: 18%;
  }
}

@media only screen and (max-width: 660px) {
  .titulo {
    position: absolute;
    top: 60%;
    left: 55%;
    color: white;
    font-family: "curs";
    text-align: center;
  }
  .form3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -8%;
    top: 22%;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    position: absolute;
    top: 104px;
  }
  .form3 .edit_label {
    width: 100%;
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    top: 617px;
    position: absolute;
    left: -2%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 104%;
  }
  .fondcont .contacto form div .letra {
    font-size: 24px;
  }
  .mg,
  .pa,
  .lz {
    width: 500px;
    height: 500px;
    margin-left: 70px;
  }
  .gps {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 575px) {
  .titulo {
    position: absolute;
    top: 65%;
    left: 50%;
    color: white;
    font-family: "curs";
    text-align: center;
  }
  .imgind {
    width: auto;
    height: 775px;
  }
  .titucont {
    position: absolute;
    color: white;
    font-family: "curs";
    text-align: center;
    top: 15%;
    left: 15%;
    font-size: 60px;
  }
  .form3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 14%;
    top: 22%;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    position: absolute;
    top: 104px;
  }
  .form3 .edit_label {
    width: 100%;
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    top: 1050px;
    position: absolute;
    left: -36%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 114%;
  }
  .fondcont .contacto form div .letra {
    font-size: 24px;
  }
  .pieind {
    position: relative;
    margin-top: 133vh;
  }
  .fonnos {
    height: 100vh;
    position: absolute;
  }
  .mis {
    width: 80%;
    text-align: center;
    margin-top: 8%;
    color: white;
    margin-right: 12%;
  }
  .vis {
    width: 80%;
    text-align: center;
    color: white;
    margin-right: 12%;
    margin-top: 8%;
  }
  .val {
    width: 80%;
    text-align: center;
    color: white;
    margin-top: 8%;
    margin-right: 12%;
  }
  .card-columns {
    margin-left: 50%;
  }
  .card-columns .col .card {
    width: 100%;
  }
  .card-columns .col .card img {
    width: 100%;
    height: auto;
  }
  .flex {
    margin-top: -185%;
    margin-left: -110%;
    width: 100%;
  }
  .botonenv2 {
    width: 35%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5e870;
    outline: none;
    font-size: 16px;
    border: none;
    color: black;
    padding: 15px 0px;
    cursor: pointer;
  }
  .botonenv2:hover {
    background-color: orange;
  }
  .botonborra2 {
    width: 35%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5e870;
    outline: none;
    font-size: 16px;
    border: none;
    color: black;
    padding: 15px 0px;
    cursor: pointer;
  }
  .botonborra2:hover {
    background-color: orange;
  }
  .piepag {
    height: 172vh;
  }
  .pedido {
    background-image: url(fotos/1400.png);
    height: 163vh;
  }
  .pieind2 {
    position: absolute;
  }
  .mg,
  .pa,
  .lz {
    width: 500px;
    height: 500px;
    margin-left: 15px;
  }
  .gps {
    margin-top: 10%;
  }
  .titen {
    position: absolute;
    color: white;
    font-family: "curs";
    text-align: center;
    color: black;
    top: 10%;
    left: 2%;
    font-size: 40px;
  }
  .gps .art .titxt {
    width: 65%;
    text-align: center;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 525px) {
  .flex {
    margin-top: -202%;
    margin-left: -110%;
    width: 100%;
  }
  .mg,
  .pa,
  .lz {
    width: 400px;
    height: 400px;
    margin-left: 45px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    top: 1000px;
    position: absolute;
    left: -36%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 114%;
  }
}

@media only screen and (max-width: 485px) {
  .flex {
    margin-top: -231%;
    margin-left: -110%;
    width: 100%;
  }
  .titucont {
    position: absolute;
    color: white;
    font-family: "curs";
    text-align: center;
    top: 12%;
    left: 15%;
    font-size: 60px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    top: 980px;
    position: absolute;
    left: -36%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 114%;
  }
  .mg,
  .pa,
  .lz {
    width: 400px;
    height: 400px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .titulo {
    position: absolute;
    top: 60%;
    left: 40%;
    color: white;
    font-family: "curs";
    text-align: center;
  }
  .titulo h1 {
    font-size: 40px;
  }
  .titen {
    position: absolute;
    color: white;
    font-family: "curs";
    text-align: center;
    color: black;
    top: 10%;
    left: 2%;
    font-size: 40px;
  }
  .gps .art .titxt {
    width: 70%;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
  }
  .mg,
  .pa,
  .lz {
    width: 300px;
    height: 300px;
    margin-left: 40px;
  }
  .form3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 5%;
    top: 22%;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    position: absolute;
    top: 104px;
  }
  .form3 .edit_label {
    width: 100%;
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
  }
  .form2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    font-size: 18px;
    font-family: "cont";
    display: block;
    z-index: 0;
    top: 900px;
    position: absolute;
    left: -45%;
  }
  .form2 .edit_label2 {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
    width: 114%;
  }
  .fonnos {
    height: 100vh;
    position: absolute;
  }
  .mis {
    width: 80%;
    text-align: center;
    margin-top: 2%;
    color: white;
    margin-right: 12%;
  }
  .vis {
    width: 80%;
    text-align: center;
    color: white;
    margin-right: 12%;
    margin-top: 2%;
  }
  .val {
    width: 80%;
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-right: 12%;
  }
  .piepag {
    height: 178vh;
  }
  .pedido {
    background-image: url(fotos/1400.png);
    height: 165vh;
  }
  .pieind2, .pieinx, footer {
    background-color: #791515;
  }
  .pieind2 img, .pieinx img, footer img {
    margin-top: 1.5%;
  }
  .pieind2 .imgfoot, .pieinx .imgfoot, footer .imgfoot {
    margin-top: 1.5%;
  }
}
/*# sourceMappingURL=estilo.css.map */